.Navigation {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 100vh;
    color: white;
    background-color: #0091AD;
    padding: 16px;
    transition: width 0.3s ease;
}

.Navigation.collapsed {
    width: 80px;
    align-items: center;
}

/* Align toggle button (arrow) correctly depending on collapsed state */
.Navigation .menu {
    height: 35px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1;
    align-self: flex-end; /* default when expanded */
    transition: all 0.3s ease;
}

.Navigation.collapsed .menu {
    align-self: center; /* center when collapsed */
}

.top-spacing {
    height: 20px;
}

.menu-icon {
    font-size: 24px;
    color: white;
}

.menu-icon.collapsed {
    align-items: center;
}

.Navigation header {
    margin: 10px 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px 0 15px;
    background-color: #007A8F;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Navigation header::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 50%;
    background-color: darkgray;
    bottom: 0;
}

.Navigation header .profile {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: lightgray;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.Navigation.collapsed .profile-img {
    width: 40px;
    height: 40px;
}

.Navigation header span {
    font-size: 15px;
}

.Navigation.collapsed header span {
    display: none;
}

.NavIcon {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.NavIcon span {
    font-size: 14px;
    white-space: nowrap;
}

.Navigation.collapsed .NavIcon span {
    display: none;
}

.icon {
    transition: font-size 0.3s ease;
}

.icon-large {
    font-size: 28px;
}

.icon-small {
    font-size: 20px;
}
